{
	# Debug mode: uncomment if you need it in the Caddy container
	#debug

	# Allows making calls with no TLS
	auto_https disable_redirects
}

(vhost) {
	log

	# Root for static files
	root * /srv/public

	@file_exists `file({path}) && !path_regexp(".php")`

	@api `(
		header({'Accept': ['*application/json*', '*application/ld+json*']})
		|| path_regexp('(.php|^/(api|_profiler|_wdt|_error))')
	)`

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

    # Home always served by nodejs
	handle / {
		reverse_proxy node:3000
	}

	# First, proxy websockets to node container
	handle @websockets {
		reverse_proxy node:3000
	}

	# Load files that exist already in "backend/public/"
	handle @file_exists {
		file_server
	}

	# If file does not exist, or contains ".php", proxy to PHP
	handle @api {
		php_fastcgi php:9000
	}

	# Fall back to node.js application
	handle {
		reverse_proxy node:3000
	}
}

# vhost for HTTP with port 80
http://localhost {
	import vhost
}

# vhost for HTTPS with port 443
https://localhost {
	import vhost
}
