{
	# Debug mode: uncomment if you need it in the Caddy container
	#debug

	# Allows making calls with no TLS
	auto_https disable_redirects
}

localhost {
	log

	# Root for static files
	root * /srv/public

	@file_exists `file({path}) && !path_regexp(".php")`

	@php `path_regexp('(.php|^/(api|admin|_profiler|_wdt|_error))')`

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	handle / {
		reverse_proxy node:3000
	}

	# Proxy websockets to node container
	handle @websockets {
		reverse_proxy node:3000
	}

	# Load files that exist already in "backend/public/"
	handle @file_exists {
		file_server
	}

	# If file does not exist, or contains ".php", proxy to PHP
	handle @php {
        php_fastcgi unix//var/run/php/php-fpm.sock
	}

	# Fall back to node.js application
	handle {
		reverse_proxy node:3000
	}
}
